
.DS_Store
Video Playback/test.mp4
Video Playback/.ipynb_checkpoints/VideoPlayer-checkpoint.ipynb
Video Playback/.ipynb_checkpoints/WebCam-checkpoint.ipynb
ImageManipulation/TE100.jpg
ImageManipulation/test.tif
